html{
	scroll-behavior: smooth;
}
:root {
  --w: 70%;
}
body{
	font-family:'Dosis', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color:#f0eceb;
	
	margin:0;
	overflow-x:hidden;
}
div{
	background-color:#f0eceb;
	width:950px;
	border-radius:3px;
} 
#container{
	position: relative;
	padding-top:15px;
	width: 940px;	
} 
#grafico {
	width: 940px;
	padding:10 0 10 0px;
	display:flex;
	font-size:26px;
	font-weight:bold;
	color:rgba(255,255,255,0.0);
	justify-content: center;
	align-items:flex-start;
	flex-direction: column;
	flex-wrap: wrap;
} 
@keyframes Aparecer{
	0% {
		width: 0%;
	}
	50%{
		color:rgba(255,255,255,0.0);
	}
	100%{
		width: var(--w);
		color:rgba(255,255,255,1.0);
	}
}
#php{
	--w: 60%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;  
	animation-play-state: paused;
}
#python{
	--w: 60%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;  
	animation-play-state: paused;
}
#jvsc{
	--w: 70%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards; 
	animation-play-state: paused;	
}
#htcs{
	--w: 50%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;	
}
#adps{
	--w: 80%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;	
}
#adpp{
	--w: 70%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;	
}
#sv{
	--w: 70%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;			
} 
#esf{
	--w: 100%;
	animation: Aparecer 2s;
	animation-fill-mode: forwards; 
	animation-play-state: paused;	
}

.barra{
   background: linear-gradient(to right, #cb356b, #bd3f32);
   border:1px solid black;
   margin: 5px;
   height: 40px;
   transition:0.3s;
}
.barra:hover{
	background-color:#ffc957;
	color:black;
}

#bg{
	position:absolute;
	background-color:rgb(11,12,16);
	background-size:cover;
	left:12%;
	width:1000px;
	margin-top:20px;
	min-height: 100vh; 
	padding-top:30px;
}
#nomeTitulo{
	font-size:20px;
}
#quemsou{
	margin-left:40%;
	margin-top:60px;
	margin-bottom:0;
}
#skills{
	margin-top:60px;
	margin-left:44%;
	margin-bottom:0;
}
#portitulo{
	margin-top:60px;
	margin-left:42%;
	margin-bottom:0;
}
#contatitulo{
	margin-top:60px;
	margin-left:44%;
	margin-bottom:0;
}
#contato form input{
	width:400px;
}
#cabecalho{
	position:fixed;
	display:flex;
	background-color:#cf0219;
	justify-content: center;
	box-shadow: 5px 5px white;
	height:70px;
	min-width: 100vw;
	top:0;
	z-index:2;
}
#cabecalho a{
	text-decoration: none;
	font-size:24px;
	font-weight:semi-bold;
	color:white;
	transition: 0.2s;
}
#logo{
	position:absolute;
	left:100px;
	transition:0.3s;
	filter: brightness(100%);
	transform: scale(0.9);
}
#logo:hover{
	filter: brightness(150%);
	transform: scale(1.05);
}
#menu{
	position:relative;
	display:flex;
	width:600px;
	top:0;
	left:300px;
	background-color:#cf0219;
	font-weight:bold;
	justify-content:space-around;
	align-items:center;
}
#menu a:hover{
	color: black;
	background-color:#fff;
}
.espaco-menu{
	width:100%;
	height:95px;
}
#perfil{
	display:flex;
	margin-left:25px;
	height:540px;
	width:940px;
	border:5px solid #f0eceb;
	border-radius:3px;
}
#perfil img{
	width:100%;
	height:100%;
	object-fit:cover;
}
#info-perfil{
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:justify;
	margin-left:490px;
	height:540px;
	width:450px;
	background-color: rgba(0,0,0,0.8);
	color:white;
	transition:0.5s;
}
#info-perfil:hover{
	background-color:rgba(255,255,255,0.8);
	color:black;
}
#info-perfil h3{
	padding:20px;
}
#hab{
	display:flex;
	margin-left:25px;
	height:450px;
}
#portfolio{
	margin-left:25px;
	height:350px;
	overflow-x:hidden;
	overflow-y:hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	scroll-behavior:smooth;
}
#portfolio ul{
	list-style:none;
	margin:0;
	width:60%;
	left:-10px;
	display:flex;
	flex-direction:row;
}
#portfolio li{
	text-align:center;
	letter-spacing:2px;
	transform: scale(0.9);
	color:rgb(114,159,152);
	margin-top:30px;
	margin-left: -10px;
	width:350px;
	height:350px;
	padding-left:30px;
}
#portfolio li img{
	width:245px;
	height:152px;
	border: 3px solid black;
	border-radius:3px;
	-moz-box-shadow: 0px 3px 5px 2px #0b0c10;;
    -webkit-box-shadow: 0px 3px 5px 2px #0b0c10;;
    box-shadow: 0px 3px 5px 3px #0b0c10;;
	object-fit:cover;
	transition:0.3s;
}
#portfolio li img:hover{
	transform: scale(1.1);
}
#portfolio li h3{
	font-size:30px;
	color:black;
	letter-spacing:3px;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	bottom:30px;
}
#portfolio button{
	background-color:#626262;
	border:none;
	color:white;
	width:110px;
	height:28px;
	font-size:18px;
	transition: 0.5s;
}
#portfolio button:hover{
	color:white;
	background-color:rgb(11,12,16);
	transform: scale(1.1);
}
#portfolio p{
	color: #cf0219;
	font-weight:bold;
	font-size: 17px;
}
#portfolio p:hover{
	color:#cf0219;
	transform: scale(1.1);
}
#portfolio h3,p,button{
	margin:5px;
}
#rodape{
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-left:25px;
	margin-bottom:10px;
	height:400px;
}
#sociais{
	display:flex;
	justify-content:space-around;
	width:300px;
}
#sociais img{
	width:64px;
	height: 64px;
	transition:0.3s;
}
#sociais img:hover{
	filter: contrast(110%) brightness(150%);
	transform: scale(1.1);
}
#contato{
	width:400px;
	max-height:100%;
	text-align:center;
}
#contato input{
	background-color: #cf0219;
	color:white;
	border:none;
}
#contato input:focus{
	color:black;
	border:none;
}
#contato label{
	color:#0b0c10;
	font-size:24px;
	font-weight:bold;
	letter-spacing:2px;
}
#contato #enviar{
	background-color:#626262;
	font-size:20px;
	letter-spacing:2px;
	width:100px;
	color:white;
	transition:0.3s;
}
#contato #enviar:hover{
	background-color:rgb(11,12,16);
	color:white;
	transform: scale(1.1);
}
#form-msg{
	resize: none;
	height:180px;
	max-width: 100%; 
    max-height: 100%;
	background-color: #cf0219;
	color:white;
	border:none;
}
#form-msg:focus{
	color:black;
	border:none;
}
#redes{
	position:absolute;
	margin-top:-100px;
	margin-left:260px;
}
h2{
	color:#fff;
	font-size:30px;
}
#overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: rgba(0,0,0,0.9);
}
#lightbox{
	display:flex;
	z-index:6;
	animation: Opacidade 1s;
	flex-direction: row;
	align-items:center;
	color:black;
	position:fixed;
	margin: 20px auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:10;
	width:auto;
	height:auto;
	padding:5px;
	background:white;
	border-radius:2px;
}
#lightbox a{
	color:#ffc957;
}
@keyframes Opacidade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
#lightbox img{
	max-width:80vw;
	max-height:80vh;
	object-fit:cover;
}
#descricao-trab{
	transition:0.5s;
	opacity:1;
	text-align:center;
	position:absolute;
	width:auto;
	height:auto;
	bottom:0;
	color:white;
	margin:20px;
	background-color: rgba(0,0,0,0.7);
}
#descricao-trab:hover{
	opacity:0;
}
.fechar{
	position:fixed;
	font-size:40px;
	margin:auto;
	width:35px;
	height:35px;
	text-align:center;
	line-height:28px;
	font-weight:bold;
	color:black;
	background:white;
	border-radius:50%;
	left:98%;
	top:-5%;
	transition:0.3s;
}
.fechar:hover{
	color:white;
	background:black;
}
#bt-direita{
	margin-top:-230px;
	margin-left: 900px;
}
#bt-esquerda{
	margin-top:150px;
	margin-left: 10px;
}
.galeriabt{
	position:absolute;
	font-size:40px;
	margin:auto;
	width:45px;
	height:45px;
	text-align:center;
	line-height:33px;
	font-weight:bold;
	color:white;
	background:black;
	border-radius:50%;
	transition:0.3s;
	z-index:1;
}
.galeriabt:hover{
	color:white;
	background-color:#cf0219;
}